.b1 {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 25px;
}

.b2 {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    margin-right: 10px;
}

svg {
    fill: #ff6347;
    font-size: 25px;
}

.b1:hover,
.b2:hover {
    transform: scale(1.2);
}