a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

a:active {
    background-color: gray;
}

input:focus {
    border: 2px solid red;
}

p:lang(es) {
    background-color: cyan;
}